@media only screen and (max-width: 500px) {
    input {
        margin: 0 4px !important;;
        font-size: 19px !important;;
        width: 6% !important;;
    }
}
input {
    margin: 0 5px;
    text-align: center;
    font-size: 45px;
    border: solid 1px #ccc;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    width: 10%;
    transition: all .2s ease-in-out;
    border-radius: 3px;

&
:focus {
    border-color: purple;
    box-shadow: 0 0 5px purple inset;
}