.t {
      -webkit-transform-origin: top left;
      -moz-transform-origin: top left;
      -o-transform-origin: top left;
      -ms-transform-origin: top left;
      -webkit-transform: scale(0.25);
      -moz-transform: scale(0.25);
      -o-transform: scale(0.25);
      -ms-transform: scale(0.25);
      z-index: 2;
      position: absolute;
      white-space: pre;
      overflow: visible;
  }
  .breakline {
      width: 550px;
      word-wrap: normal;
  }
  #t1_1{left:90px;top:20px;}
  #t2_1{left:450px;top:20px;}
  #t3_1{left:832px;top:20px;}
  #t4_1{left:110px;top:45px;}
  #t5_1{left:610px;top:45px;}
  #t6_1{left:1091px;top:45px;}
  #t7_1{left:110px;top:60px;}
  #t7_11{left:110px;top:90px;}
  #t7_2{left:170px;top:50px;}
  #t7_21{left:110px;top:105px;}
  #t8_1{left:610px;top:60px;}
  #t8_11{left:610px;top:90px;}
  #t8_2{left:525px;top:50px;}
  #t8_21{left:700px;top:105px;}
  #t9_1{left:1091px;top:60px;}
  #t9_11{left:1091px;top:90px;}
  #t9_2{left:918px;top:50px;}
  #t9_21{left:1091px;top:105px;}
  #ta_1{left:67px;top:110px;}
  #ta_2{left:160px;top:110px;}
  #tb_1{left:303px;top:110px;}
  #tc_1{left:361px;top:110px;}
  #td_1{left:558px;top:110px;}
  #td_2{left:651px;top:110px;}
  #te_1{left:794px;top:110px;}
  #tf_1{left:852px;top:110px;}
  #tg_1{left:1048px;top:110px;}
  #tg_2{left:1141px;top:110px;}
  #th_1{left:1284px;top:110px;}
  #ti_1{left:1342px;top:110px;}
  #tj_1{left:67px;top:151px;}
  #tk_1{left:176px;top:151px;}
  #tl_1{left:558px;top:151px;}
  #tm_1{left:666px;top:151px;}
  #tn_1{left:1048px;top:151px;}
  #to_1{left:1156px;top:151px;}
  #tp_1{left:67px;top:183px;}
  #tq_1{left:176px;top:183px;}
  #tr_1{left:558px;top:183px;}
  #ts_1{left:666px;top:183px;}
  #tt_1{left:1048px;top:183px;}
  #tu_1{left:1156px;top:183px;}
  #tv_1{left:67px;top:215px;}
  #tw_1{
      left:176px;
      top:215px;

  }
  #tx_1{left:558px;top:215px;}
  #ty_1{left:666px;top:215px;}
  #tz_1{left:1048px;top:215px;}
  #t10_1{left:1156px;top:215px;}
  #t11_1{left:67px;top:247px;}
  #t12_1{left:176px;top:246px;}
  #t13_1{left:558px;top:247px;}
  #t14_1{left:666px;top:246px;}
  #t15_1{left:1048px;top:247px;}
  #t16_1{left:1156px;top:246px;}
  #t17_1{left:67px;top:279px;}
  #t18_1{left:176px;top:279px;}
  #t19_1{left:263px;top:279px;}
  #t1a_1{left:372px;top:279px;}
  #t1b_1{left:558px;top:279px;}
  #t1c_1{left:666px;top:279px;}
  #t1d_1{left:754px;top:279px;}
  #t1e_1{left:862px;top:279px;}
  #t1f_1{left:1048px;top:279px;}
  #t1g_1{left:1156px;top:279px;}
  #t1h_1{left:1244px;top:279px;}
  #t1i_1{left:1352px;top:279px;}
  #t1j_1{left:85px;top:320px;}
  #t1k_1{left:402px;top:315px;}
  #t1l_1{left:575px;top:320px;}
  #t1m_1{left:892px;top:315px;}
  #t1n_1{left:1066px;top:320px;}
  #t1o_1{left:1381px;top:315px;}
  #t1p_1{left:102px;top:344px;}
  #t1q_1{left:166px;top:344px;}
  #t1r_1{left:394px;top:342px;}
  #t1s_1{left:592px;top:344px;}
  #t1t_1{left:656px;top:344px;}
  #t1u_1{left:884px;top:342px;}
  #t1v_1{left:1082px;top:344px;}
  #t1w_1{left:1146px;top:344px;}
  #t1x_1{left:1374px;top:342px;}
  #t1y_1{left:102px;top:372px;}
  #t1z_1{left:166px;top:372px;}
  #t20_1{left:398px;top:370px;}
  #t21_1{left:592px;top:372px;}
  #t22_1{left:656px;top:372px;}
  #t23_1{left:888px;top:370px;}
  #t24_1{left:1082px;top:372px;}
  #t25_1{left:1146px;top:372px;}
  #t26_1{left:1378px;top:370px;}
  #t27_1{left:102px;top:396px;}
  #t28_1{left:166px;top:396px;}
  #t29_1{left:426px;top:395px;}
  #t2a_1{left:592px;top:396px;}
  #t2b_1{left:656px;top:396px;}
  #t2c_1{left:916px;top:395px;}
  #t2d_1{left:1082px;top:396px;}
  #t2e_1{left:1146px;top:396px;}
  #t2f_1{left:1406px;top:395px;}
  #t2g_1{left:223px;top:409px;}
  #t2h_1{left:402px;top:407px;}
  #t2i_1{left:713px;top:409px;}
  #t2j_1{left:892px;top:407px;}
  #t2k_1{left:1203px;top:409px;}
  #t2l_1{left:1382px;top:407px;}
  #t2m_1{left:261px;top:461px;}
  #t2n_1{left:433px;top:460px;}
  #t2o_1{left:751px;top:461px;}
  #t2p_1{left:923px;top:460px;}
  #t2q_1{left:1241px;top:461px;}
  #t2r_1{left:1413px;top:460px;}
  #t2s_1{left:233px;top:494px;}
  #t2t_1{left:402px;top:493px;}
  #t2u_1{left:723px;top:494px;}
  #t2v_1{left:892px;top:493px;}
  #t2w_1{left:1214px;top:494px;}
  #t2x_1{left:1382px;top:493px;}
  #t2y_1{left:67px;top:524px;}
  #t2z_1{left:144px;top:527px;}
  #t30_1{left:558px;top:524px;}
  #t31_1{left:635px;top:527px;}
  #t32_1{left:1048px;top:524px;}
  #t33_1{left:1125px;top:527px;}
  #t34_1{left:67px;top:566px;}
  #t35_1{left:558px;top:566px;}
  #t36_1{left:1048px;top:566px;}
  #t37_1{left:67px;top:605px;}
  #t38_1{left:81px;top:605px;}
  #t39_1{left:558px;top:605px;}
  #t3a_1{left:571px;top:605px;}
  #t3b_1{left:1048px;top:605px;}
  #t3c_1{left:1062px;top:605px;}
  #t3d_1{left:81px;top:605px;}
  #t3e_1{left:571px;top:605px;}
  #t3f_1{left:1062px;top:605px;}
  #t3g_1{left:67px;top:664px;}
  #t3h_1{left:81px;top:664px;}
  #t3i_1{left:558px;top:664px;}
  #t3j_1{left:571px;top:664px;}
  #t3k_1{left:1048px;top:664px;}
  #t3l_1{left:1062px;top:664px;}
  #t3m_1{left:67px;top:694px;}
  #t3n_1{left:81px;top:694px;}
  #t3o_1{left:558px;top:694px;}
  #t3p_1{left:571px;top:694px;}
  #t3q_1{left:1048px;top:694px;}
  #t3r_1{left:1062px;top:694px;}
  #t3s_1{left:81px;top:663px;}
  #t3t_1{left:571px;top:663px;}
  #t3u_1{left:1062px;top:663px;}
  #t3v_1{left:67px;top:726px;}
  #t3w_1{left:558px;top:726px;}
  #t3x_1{left:1048px;top:726px;}
  #t3y_1{left:81px;top:702px;}
  #t3z_1{left:571px;top:702px;}
  #t40_1{left:1062px;top:702px;}
  #t41_1{left:81px;top:722px;}
  #t42_1{left:571px;top:722px;}
  #t43_1{left:1062px;top:722px;}
  #t44_1{left:67px;top:750px;}
  #t45_1{left:67px;top:804px;}
  #t46_1{left:558px;top:750px;}
  #t47_1{left:558px;top:804px;}
  #t48_1{left:1048px;top:750px;}
  #t49_1{left:1048px;top:804px;}
  #t4a_1{left:67px;top:777px;}
  #t4b_1{left:67px;top:831px;}
  #t4c_1{left:558px;top:777px;}
  #t4d_1{left:558px;top:831px;}
  #t4e_1{left:1048px;top:777px;}
  #t4f_1{left:1048px;top:831px;}
  #t4g_1{left:350px;top:760px;}
  #t4h_1{left:841px;top:760px;}
  #t4i_1{left:1331px;top:760px;}
  #t4j_1{left:67px;top:778px;}
  #t4k_1{left:263px;top:883px;}
  #t4l_1{left:558px;top:778px;}
  #t4m_1{left:754px;top:883px;}
  #t4n_1{left:1048px;top:778px;}
  #t4o_1{left:1244px;top:883px;}

  .s1_1{
      FONT-SIZE: 65px;
      FONT-FAMILY: 'Times New Roman', Times, serif;
      color: rgb(0,0,0);
      FONT-WEIGHT: bold;

  }

  .s7_1{
      FONT-SIZE: 44px;
      FONT-FAMILY: 'Times New Roman', Times, serif;
      color: rgb(0,0,0);
  }

  .s6_1{
      FONT-SIZE: 61.1px;
      FONT-FAMILY: 'Times New Roman', Times, serif;
      color: rgb(0,0,0);
      FONT-WEIGHT: bold;
  }

  .s4_1{
      FONT-SIZE: 55px;
      FONT-FAMILY: 'Times New Roman', Times, serif;
      color: rgb(0,0,0);
    }
  .wrap {
      width: 1200px;
      FONT-SIZE: 45px;
      word-wrap: break-word;
      white-space:normal;
      margin-top: -10px;

  }
  .s5_1{
      FONT-SIZE: 65.4px;
      FONT-FAMILY: 'Times New Roman', Times, serif;
      color: rgb(0,0,0);
      FONT-WEIGHT: bold;
  }

  .s3_1{
      FONT-SIZE: 50px;
      FONT-FAMILY: 'Times New Roman', Times, serif;
      color: rgb(0,0,0);

  }
  .s3_1b{
      FONT-SIZE: 60px;
      FONT-FAMILY: 'Times New Roman', Times, serif;
      color: rgb(0,0,0);

  }
  .s8_1{
      FONT-SIZE: 73.3px;
      FONT-FAMILY: 'Times New Roman', Times, serif;
      color: rgb(0,0,0);
      FONT-WEIGHT: bold;
  }

  .s2_1{
      FONT-SIZE: 55.3px;
      FONT-FAMILY: 'Times New Roman', Times, serif;
      color: rgb(0,0,0);
  }
div.fixed1 {
    top: 30px;
    margin-left: 60px;
    width: 100px;
    float:left;

}
div.fixed2 {
    top: 30px;
    margin-left: 385px;
    width: 100px;
    float:left;
}
div.fixed3 {
    top: 30px;
    margin-left: 400px;
    width: 100px;
    float:left;
}
  .line1 {
      margin-left: 25.2%;
      border-left: 3px solid black;
      height: 800px;
      margin-left:505px;
      margin-top:20px;
      float:left;
  }
  .line2 {
      margin-top: 1%;
      margin-left: 32.2%;
      border-left: 3px solid black;
      height: 800px;

      float:left;

  }
  .s3_1table{
      height: 850px;
      min-width: 750px;
      max-width: 750px;
  }
      table, th, td {
       border: 3px solid black;
       border-collapse: collapse;
       font-size: 52px;
     }

     th, td {
       padding: 47px;
       text-align: center;

     }
     .td_alfa{
      text-align: left;
     }
     .td_num{
      text-align: right;
     }
